.main-aside {
     position: fixed;
     border :rgb(174, 243, 243) solid 2px;
     width: 15em;
     bottom: 0;
     right: 0;
     height: 50%;
   }

   .main-aside__mensajes {
     height: 80%;
     /* solo funciona en Firefox */
    scrollbar-color: white palevioletred ;
     overflow-y: scroll;
 }


.main-aside__title {
     width: 100%;
     text-align: center;
     padding: 10px 0;
     background-color: rgb(174, 243, 243);
     color: white;
     font-weight: bold;
   }

   .main-aside__submit {
     position: absolute;
     bottom: 1%;
     right: 2%;
 }