.dashboard-article {
    background-color: rgb(252, 196, 215);
    text-align: center;
    display: inline-block;
    height: 300px;
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    vertical-align: middle;
    box-shadow: 2px rgba(0, 0, 0, 0,5);
    
}

.dashboard-main {
    padding-top: 60px;
    text-align: center;
    
}

table.unstyledTable {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #D9F2FF;
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.unstyledTable td, table.unstyledTable th {
    border: 2px solid #D9F2FF;
    padding: 3px 2px;
  }
  table.unstyledTable tbody td {
    font-size: 13px;
    color: #000000;
  }
  table.unstyledTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.unstyledTable thead {
    background: #D9F2FF;
    border-bottom: 2px solid #444444;
  }
  table.unstyledTable thead th {
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  table.unstyledTable thead th:first-child {
    border-left: none;
  }
  
  table.unstyledTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
  }
  table.unstyledTable tfoot td {
    font-size: 14px;
  }

  .dashboard-article {
    background-color: #d5ffdc;
    text-align: center;
    display: inline-block;
    /* height: 300px; */
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    vertical-align: middle;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
    min-width: 250px;
    max-width: 280px;
}

.dashboard-main {
    padding-top: 60px;
    text-align: center;
}
  .dashboard-article__table{
      margin-top: 20px;
  }